h1{
    color: blue;

}

h2{
    color: blue;

}
.abzac{
    font-weight: bold
}

#header{
    color: red
}

ul{
    color:blueviolet
}
#go{
    color:brown
}
.cor{
    color: red
}