body{
    font-family: sans-serif;
    margin:0;
    padding:0;
    background-color: #f9f9f9;
}
header{
    background-color: #fff;
    margin-bottom: 22px;
    padding: 20px 40px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 1.5px solid #EEF0F3;
}
.black{
    background-color: #111928;
    margin-bottom: 22px;
    padding: 20px 40px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 1.5px solid #EEF0F3;
}
header-block{
    display:flex;
    align-items:center;
}
nav{
    display:flex;
    align-items:center;
    gap:48px;
}
.nav a{
    text-decoration: none;
    font-size:14px;
    font-weight:400px;
    line-height:100%;
    color:#000000;
}
.nav_black a{
    color:#FFFF;
    text-decoration: none;
    font-size:14px;
    font-weight:400px;
    line-height:100%;    
}
.nav a.active{
    color:#5C53E9;
}
button{
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:14px;
    font-weight: 500;
    line-height: 100%;
    padding:10px;
}
.buttons{
    display:flex;
    gap:6px;
}
.login_signup_btn {
    background-color: #000000;
    color: #FFFFFF;
}
.Sign_In {
    background-color: #5C53E9;
    color: #FFFFFF;
}
.search_box_white{
    display:flex;
    align-items: center;
    width: 352px;
    height:41px;
    border: 1px solid #DFDFDF;
    border-radius: 10px;
    gap: 10px;
    
}
.search_box_Black{
    display:flex;
    align-items: center;
    border: 1px solid #D6D8DE;
    width:500px;
    height:44px;
    border-radius: 10px;
    justify-content:space-between;
}
.search_box_white input{
    border:none;
    outline:none;
    font-size:12px;
    width: 310px;
    height:21px;
    font-weight: 352px;
    line-height: 16px;

}
.search_box_Black input{
    border:none;
    outline:none;
    font-size:12px;
    width: 420px;
    height:21px;
    font-weight: 500;
    line-height: 16px;
    background-color:#111928;
    margin-left: 20px;
    color:white ;
}
.search_box_Black img{
    width:16px;
    height:16px;
    margin-right:15px;
}
.search_box_white img{
    width:12px;
    height:12px;
    margin-left:14.5px
}